<!--<p>employee-details works!</p>-->
<!--<div>-->
<!--    <h1>Employee details</h1>-->
<!--  <hr/>-->
<!--  <div *ngIf="employee">-->
<!--    <div>-->
<!--      <label><b>Name: </b></label> {{employee.name}}-->
<!--    </div>-->
<!--    <div>-->
<!--      <label><b>DOB: </b></label> {{employee.dob}}-->
<!--    </div>-->
<!--    <div>-->
<!--      <label><b>Email: </b></label> {{employee.email}}-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <button mat-raised-button color="primary" (click)="list()">Back to Employee List</button>-->
<!--  </div>-->
<!--</div>-->
